{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurants</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

</head>
<body>
    {% include 'a_top.html' %}
    <div class="header">
        <img src="{% static 'img1.jpg' %}" alt="Delicious Food">
        <div class="header-text" style="left: 35%;">
            <h1>EVERY DISH IS A <br>CHAPTER, AND EVERY<br>CONCEPT UNFOLDS </h1><h1 style="color:rgba(255, 242, 208, 1)">A NEW CULINARY ADVENTURE.</h1>
            <p>Simply dummy text of the printing and typesetting industry. Lorem<br>Ipsum has been the industry's standard dummy.</p>
            
        </div>
    </div>
    
</body>
</html>